body {
  font-family: arial, helvetica;
  min-width: 900px;
}

h3 {
  font-family: monospace;
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}


h4 {
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  color: black;
}

#section1 {
  color: #fff;
}

.fp-section {
  text-align: center;
}

.slide > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  display: flex;
  justify-content:space-between ;
  align-items: center;
  flex-direction: row;
  padding: 4rem;
  font-family:monospace;
  background-color: white;
  height: 35rem;
  min-width: 45rem;
  max-width: 30rem;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(249,243,229,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(249,243,229,1);
  box-shadow: 10px 10px 0px 0px #70d3e0;
  margin: 0 10px 10px 10px;
  padding: 0 15px 15px 15px;
}

.centerh4 {
  align-self: center;
  text-align: left;
  font-size: 1.7em;
  padding: 20px;
}

img {
  height: 35rem;
  display:block;
  margin:auto;
  margin-top:30px;
  float: left;
}

.project-text {
  font-size: 1rem;
  border-radius: 10px;
  text-align: initial;
  padding: 0.3rem;
}
.project-photo {
  justify-content: flex-start;  
}

.tech {
  padding: calc(var(--padding-content-sides) + 6rem);
}

.tech ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tech ul li {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 10rem;
  font-family:monospace;
  background-color: #F9F3E5;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(249,243,229,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(249,243,229,1);
  box-shadow: 10px 10px 0px 0px #70d3e0;
  margin: 1rem 2rem;
}

.repo-button {
  height: 40px;
  background-color: #fbf5e7;
  border: 2px solid #32312c;
  border-radius: 5px;
  padding: 0 35px;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  margin: 20px;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.social-icon{
  height: 10rem;
  margin:20px;
}

.social{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.section1 p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
.section1 .line {
  position: relative;
  border-right: 4px solid white;
  width: 800px;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
  margin: auto;
}

 .section1 .typing {
  animation: typewriter 3s steps(25) 1s 1 normal both, blinkCursor 0.6s steps(12) infinite normal;
}

.section1 h4 {
  color:#70d3e0;
  font-size: 3em;

}
@keyframes typewriter {
  from {
    width: 0;
 }
  to {
    width: 735px;
 }
}
@keyframes blinkCursor {
  from {
    border-right-color: white;
 }
  to {
    border-right-color:  #70d3e0;
 }
}

@media only screen and (max-width: 864px) {

  .tech ul{
    flex-direction: column;
    align-items: center;
  }}